# this is a comment in odd files like this dotenv (others include .sh, .conf, etc.)
# follows all caps "snake case" typing convention
# * npm i dotenv to enable accessing env vars: require('dotenv').config() makes them available, console.log(process.env) to see your entire systems vars in the current directory, env vars makes our OS & apps behave in certain ways
NODE_ENV="development"  # ? a standard env var for NodeJS, typically is 'development', 'production', or 'test': we can change what our app does in different environments on Heroku or any other for that matter
PORT=8000
API_KEY="5fb325da53f751869128fcb84ca56ce16a9a5493b760c0eab50c2cba35422a1f" # ?like if you wanted to secure the server with a randomized API key string, checkout 'const crypto = require('crypto'); console.log(crypto.randomBytes(32).toString('hex'));' in NodeJS code to see the crypto module it provides & generate one
